body .book .book-header .home-bookmark,
body .book .book-header .toggle-font-settings {
  display:none;
}

body .book .book-header .pull-right,
body .book .book-header .count-watch {
  display:none!important;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  }
  .embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Blue header and border for exercises */
.book .book-body .page-wrapper .page-inner .exercise {
  border-color: #4556A6;
}

.page-inner .exercise .header {
  background: #4556A6;
}
